   /* Apply a custom focus outline to all elements */
   *:focus {
     outline: none;
     /* border: 1px solid red; */
     background-color: rgba(0, 0, 0, 0.3);
     box-shadow: 0px 0px 6px 3.5px rgb(0, 0, 0);
   }

   .vignette:focus-within input {
     transform: scale(1.5);
   }

   /* Style de base */
   * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
   }

   html {
     overflow: hidden;
     height: 100%;
     background: white;
   }

   body {
     overflow: hidden;
     height: 100vh;
     display: flex;
     flex-direction: column;
     font-family: Arial, Helvetica, sans-serif;
   }

   *::-webkit-scrollbar {
     display: none;
   }


   /* Hide scrollbar for IE, Edge and Firefox */
   * {
     -ms-overflow-style: none;
     /* IE and Edge */
     scrollbar-width: none;
     /* Firefox */
   }

   #main {

     overflow-x: hidden;
     overflow-y: auto;
     flex: 1;
     width: 100%;

     padding: 20px;


   }


   .row {
     display: flex;
     justify-content: flex-start;
     position: relative;
     overflow: hidden;
     padding: 10px;
   }

   .row>* {
     flex-shrink: 0;
   }


   img {
     object-fit: cover;
   }

   .vignette {
     position: relative;
   }

   .vignette img {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;

   }


   .vignette p {
     margin: 0;
     position: absolute;
     line-height: 30px;
     width: 100%;
     bottom: 0;
     text-align: center;
     background-color: rgba(0, 0, 0, 0.3);
     color: white;
   }

   /* nouveau style de vignette pour les applications  */
   .vignetteApp {
     position: relative;
   }

   .vignetteApp img {
     position: absolute;
     top: 0;
     left: 15%;

     width: 70%;
     height: 60%;
     position: center;
   }

   .vignetteApp p {
     margin: 0;
     position: absolute;
     line-height: 20px;
     width: 100%;
     bottom: 0;
     text-align: center;
     background-color: rgba(0, 0, 0, 0.3);
     color: white;
   }

   /* Define the variable for header width */
   :root {
     --header-height: 18%;
   }


   /* gestion header */
   header {
     display: flex;
     /* flex-direction: row; */
     justify-content: space-between;
     /* border: 2px solid black; */
     background-color: rgba(0, 0, 0, 0.5);
     color: white;
     padding: 0px 15px;
     height: var(--header-height);
     width: 100%;
     z-index: 999;

   }

   header #location {
     display: flex;
     flex-direction: column;
     justify-content: center;
     font-size: larger;
     gap: 8px;
   }

   header #location div {
     display: flex;
     align-items: center;
   }

   header #location img {
     height: 30px;
   }

   /* doit s adpater a la taille de l ecran  */
   header #logo {
     height: 85%;
     width: auto;
     align-self: center;
   }

   header span {
     font-size: 30px;
   }


   header #info {
     display: flex;
     flex-direction: column;
     text-align: end;
     justify-content: center;
     font-size: larger;
     gap: 8px;
   }

   header #info #infoHD {
     display: flex;
     flex-direction: row-reverse;
     align-items: center;

   }

   header #info img {
     height: 30px;
     margin-right: 20px;
   }



   #nameHotel {
     text-align: right;
     font-size: 50px;
     color: #f2f2f2;
     margin: 20px;


   }


   /* loading component css */
   #loading-container {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     background: rgba(0, 0, 0, 0.5);
     /* semi-transparent background */
     z-index: 9999;
     /* ensure the loading indicator is on top of other elements */
   }

   .loading-indicator {
     width: 50px;
     height: 50px;
     border-radius: 50%;
     border: 4px solid #f3f3f3;
     border-top: 4px solid #3498db;
     animation: spin 2s linear infinite;
   }

   @keyframes spin {
     0% {
       transform: rotate(0deg);
     }

     100% {
       transform: rotate(360deg);
     }
   }

   /* Styles for the login page */
   .modal {
     display: none;
     position: fixed;
     z-index: 1;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: rgba(0, 0, 0, 0.5);
   }

   .modal-content {
     background-color: #f2f2f2;
     margin: 15% auto;
     padding: 20px;
     border: 1px solid #ccc;
     width: 300px;
   }

   /* Other styles */
   input[type=text],
   input[type=password] {
     width: 100%;
     padding: 12px 20px;
     margin: 8px 0;
     display: inline-block;
     border: 1px solid #ccc;
     box-sizing: border-box;
   }

   /* css of the main apps */
   #approw {
     display: flex;
     /* Use flexbox layout */
     justify-content: flex-start;
     /* Align items to the start of the container */
     align-items: center;
     /* Center items vertically */

   }

   #approw>div {
     margin-right: 10px;
     /* Add some spacing between elements */
     left: "20px";
   }


   /* css pour le panier  */
   #cart-container {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     display: none;
     justify-content: flex-start;
     align-items: flex-start;
     height: 50vh;
     width: 50%;
     background-color: white;
   }

   .cart {
     text-align: left;
     margin-left: 10px;
   }

   #cart-items {
     overflow: hidden !important;
   }

   .delete-button {
     background: none;
     border: none;
     padding: 0;


     position: absolute;
     bottom: 50px;
     right: 10px;
   }

   .delete-button img {
     width: 30px;
     /* Adjust the width and height as needed */
     height: 30px;

   }

   #cart-total-text {
     font-weight: bold;
     position: absolute;
     bottom: 10px;
     right: 20px;
   }

   #my-btn {
     position: absolute;
     bottom: 10px;
     left: 10px;
   }

   #continue-btn {
     height: 50px;
     width: 100px;
   }

   #checkout-btn {
     height: 50px;
     width: 100px;
   }


   /* settings menu css */
   #settings-container {
     position: fixed;
     bottom: 0;
     right: 0;
     background-color: black;
     padding: 10px;
     border-top-left-radius: 10px;
     height: 100%;
     width: 50%;
     max-height: 100vh;
     max-width: 50vh;
     overflow-y: auto;
   }


   #settings-title {
     color: white;
     background-image: linear-gradient(to left, #007bff, #3d3d3d);
     padding: 10px;
     margin: 0;
     border-radius: 5px;
   }

   #options-container {
     margin-top: 20px;
   }

   .option {
     margin-bottom: 10px;
     color: white;
   }

   label {
     display: block;
     font-weight: bold;
   }

   select,
   input[type="checkbox"] {
     margin-top: 5px;
   }

   /* css of the info page  */
   #info-container {
     display: none;
   }

   #full-image {
     background-image: url('e.jpg');
     background-size: cover;
     background-position: center;
     height: 100%;
   }

   #blackrectangle {
     background-color: black;
     height: 50%;
     position: absolute;
     top: 50%;
     left: 0;
     width: 100%;
     z-index: 1;
   }

   #minirectangle {
     background-color: grey;
     height: 10%;
     position: absolute;
     top: 50%;
     left: 0;
     width: 100%;
     z-index: 1;
   }

   #imagest {
     background-image: url('e.jpg');
     background-size: cover;
     background-position: center;
     background-color: grey;
     height: 150px;
     width: 250px;
     position: absolute;
     top: 37%;
     left: 10%;
     z-index: 1;
   }

   #button-info {
     background-color: black;
     height: 30px;
     width: 70px;
     border-color: rgb(28, 27, 27);
     color: white;
     position: absolute;
     top: 35%;
     left: 30%;
   }

   #description {
     color: blanchedalmond;
     text-align: left;
     position: absolute;
     top: 35%;
     left: 30%;
   }

   #title {
     font-size: 30px;
   }

   #infodescription {
     width: 500px;
   }

   .highlighted {
     background-color: yellow;
   }

   /* confirm emptying cart modal  */
   .modalconfirm {
     display: none;
     position: fixed;
     z-index: 1;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: rgba(0, 0, 0, 0.5);
   }

   .modalconfirm-content {
     background-color: #fefefe;
     margin: 15% auto;
     padding: 20px;
     border: 1px solid #888;
     width: 300px;
     height: 100px;
   }

   .modalconfirm-buttons {
     display: flex;
     justify-content: flex-end;
   }

   button {
     margin-right: 10px;
   }

   /* css of the messages  */

   #containerMsg {
     background-color: rgba(90, 148, 250, 0.97);
     /* Transparent blue background */
     margin: 0;
     padding: 0;
     height: 100vh;
     width: 100vh;
     display: none;
     position: absolute;
     top: 0;

   }

   .rectangleMsg {
     --retangleMsg-width: 25%;
     background-color: rgb(167, 213, 228);
     /* Light blue color for the rectangle */
     width: var(--retangleMsg-width);
     border-right: 2mm ridge rgba(126, 166, 247, 0.973);
     /* elements alignment */
     display: flex;
     flex-direction: column;
     align-items: left;

   }

   /* Remove default list styles */
   #messages,
   #unreadmessages {
     list-style: none;
     padding: 0;
   }

   /* Style list items */
   #messages li,
   #unreadmessages li {
     display: flex;
     align-items: bottom;
     margin-bottom: 10px;
     margin-left: 10px;
   }

   /* Style image */
   #messages li img,
   #unreadmessages li img {
     height: 20px;
     width: 20px;
     margin-right: 5px;
   }

   /* Style span */
   #messages li span,
   #unreadmessages li span {
     font-size: 20px;
     white-space: nowrap;

   }

   /* style text msg */

   #dateMsg {
     font-size: 30px;
     position: relative;
     left: 10px;
   }

   #MsgContent {

     position: relative;
     left: 10px;
     width: 300px;

   }

   :root {
     --retangleMsg-width: 25%;
     /* Initial width of retangleMsg */
   }

   #textMsgContainer {
     position: absolute;
     left: calc(var(--retangleMsg-width));
     height: 100vh;
     width: 100vh;
     /* background-image: url('e.jpg'); */

   }